name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Copy GitHub repository contents
      uses: appleboy/scp-action@master
      env:
        HOST: ${{ secrets.SSH_HOST }}
        PORT: ${{ secrets.SSH_PORT || 22 }}
        USERNAME: ${{ secrets.SSH_USER }}
        PASSWORD: ${{ secrets.SSH_PASSWORD }}
      with:
        source: "."
        target: "/builds/${{ github.event.repository.name }}"

    - name: Execute remote server commands
      uses: appleboy/ssh-action@master
      with:
        HOST: ${{ secrets.SSH_HOST }}
        PORT: ${{ secrets.SSH_PORT || 22 }}
        USERNAME: ${{ secrets.SSH_USER }}
        PASSWORD: ${{ secrets.SSH_PASSWORD }}
        script: |
          cd /builds/${{ github.event.repository.name }}
          docker build . -t ${{ github.event.repository.name }}
          docker stop ${{ github.event.repository.name }}
          docker rm ${{ github.event.repository.name }}
          docker run -d \
            --env PG_DATABASE_URL='postgres://postgres:Chris1981@postgres:5432/api-postgres-starter' \
            --env COOKIE_KEY='Ap9P@55k3y4u93opl3' \
            --env EMAIL_API_TOKEN='f7060053-fbf7-4e3d-87f3-dbea453abfaa' \
            --env EMAIL_FROM='postmark@chrisbrocklesby.com' \
            --network apps \
            --restart unless-stopped \
            --name ${{ github.event.repository.name }} ${{ github.event.repository.name }}
          cd ..
          rm -R ${{ github.event.repository.name }}
